*{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

body{
  background:white;
  margin:0px;
}


#sketch{
  width:1900px;
  height:900px;

  background: white;
  margin: auto;
}

#svg{
  display:none;
}
