* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px; }

body {
  background: white;
  margin: 0px; }

#sketch {
  width: 1900px;
  height: 900px;
  background: white;
  margin: auto; }

#svg {
  display: none; }

canvas {
  position: absolute;
  left: 0px; }

canvas#fft {
  bottom: 0px;
  width: 100%;
  height: 40px; }
